<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 
<head>
  <title>Bootstrap Example</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  
   -->
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	 -->
	 
	 <!-- date time picker -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
	
</head>
<body>
 
  
<div  >
  
  
  
  <div class="col-md-12">
  
  
  <div   id="myModal" class=" col-md-12 modal fade"   aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Please Fill All The Details.
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div>
        </div>
    </div>
</div>
<br>
      
  	  <div class="col-md-12">
  	<div class="col-md-6">
  	<form>
  		<div class="  well"> 
  			<div><h3> Appointment</h3></div>
  			
  			<div class="row"> 
	  			<div class="col-md-3"> 
	  				<label for="userForm-Title">Title</label>
					<select id="userForm-Title" onchange="titleFIll()" name="userForm-Title">
						<option value="Mr.">Mr.</option>
						<option value="Ms.">Ms.</option> 
					</select>
	  			
	  			</div>
	  			<div class="col-md-3">
	  				<label for="userForm-FName">Full Name</label>
	  				<input type="text" placeholder="Please Enter Full name." name="userForm-FName" id="userForm-FName" >
  				</div>
  			  
  			 
  			<div class="col-md-3">
	  				<label for="userForm-CName">Company Name</label>
	  				<input type="text" placeholder="Please Enter Company name." name="userForm-CName" id="userForm-CName" >
  				</div>
  				 
  				 
  			<div class="col-md-3">
	  				<label for="userForm-JName">Job Title</label>
	  				<input type="text" placeholder="Please Enter Job Title" name="userForm-JName" id="userForm-JName" >
  				</div>
  				 
  			
  			 
  			 <div class="col-md-3"> 
  			<label for="userForm-Address">Address</label>
  			<textarea   required="required" rows="4" cols="20" id="userForm-Address" name="userForm-Address"></textarea>
  				
  		    </div>
  		     
  		    
  		    
  			<div class="col-md-4"> 
  				<label id="userForm-Date">Date of Appointment</label>
  				<div class="form-group">
	                
	                <div class="input-group date" id="example">
					  <input type="text" class="form-control" id="dateTime" />
					  <span class="input-group-addon">
					    <span class="glyphicon glyphicon-calendar"></span> 
					  </span>
					</div>

            	</div>
  				
  			 </div> 
  			 
  			
  			 
  			</div>
  			<div class="row" align="right"> 
  				  <button type="button" id="addAppointment"  >Submit</button>
  			</div>
  			
  			</div>
  			
  		
  		 </form>
  	</div>
  <div class="col-md-6" >
  	 <h1>Appointment Letter</h1>
  	 <div id="appointmentLetter">
  	 	<div id="leftHeadder" align="left">
  	 		  
	  	 	<p> Dear <span id="employeeName">......</span></p>

	<p>After a thorough and comprehensive review, I am pleased to announce that <span class="companyFill">.....</span>. would like to offer you the position of <span class="jobPosition">.....</span>.</p>

	<p>Your role will begin on <span id="dateFill">....</span>. You will report every weekday to the <span class="companyFill">.....</span> in Cochin, IL, between the hours of 9:00 AM and 5:00 PM, and you will be expected to provide <span class="companyFill">....</span>. with 35 hours of work per week. In your role as <span class="jobPosition">....</span>, you will report to the Director of Company, Ellen Stevens.</p>

<p>The salary for this position will be Rs 4 lakh per year. This amount will be paid by check or direct deposit .</p>

<p>This role will be considered exempt, so you will not be eligible for overtime compensation. As an exempt employee, you will be entitled to standard federal holidays plus 80 hours of paid time-off per year, which may be used at your discretion. You will also be eligible to participate in our employer sponsored health plan. Please review the enclosed Plan Summary for more information.</p>

<p>The agreement between you and <span class="companyFill">.....</span>. will be classified as at-will, which means either party may terminate the agreement at any time, for any reason, with or without notice.</p>

<p>All employees of <span class="companyFill">.....</span>. are expected to abide by the policies outlined in our Employee Handbook, which covers safety rules, conduct and behavior, and our business casual dress code. To find the full text of the Employee Handbook, please visit the company website and click on the tab marked “Handbook, Full Text”.</p>

<p>If you choose to accept this position, please sign the enclosed Employee Agreement Form and Procedures Compliance Form and return both to my office by Tuesday, May 30 2019.</p>

<p>When you report on your first day, you will be asked to present a state issued photo ID.</p>

<p>For more information about this position or about <span class="companyFill">.....</span>, please contact my office at any time.</p>

<p>Sincerely,</p>
 

<p>HR Manager
</p>
<p>Anitha s</p>

 
  			
  			
  			</div>
  			
  			</div>
 
<div id="editor"></div>
  	 		<div class="row" align="center"> 
  				  <button type="button" id="generatePdf"  >GeneratePdf</button>
  			</div>
  	 		
  	 	</div>
  	 </div>
  	</div>
  	 </div>
  	 <hr>
  	 <div class="col-md-12">
  	 	<div class="row">
  	 	 
  	 		<div class="row panel panel-primary">
  				<div class="panel-heading">Appointment List</div>
  				<div class="panel-body">
  					<div id="ReportTableDiv"> <!--  style="display:none;"  -->
						  
					    <div id="collapseOne" class="panel-collapse collapse in" >
					       
				       		
				       		<div id="loading-gif-div">
                               <img id="loading-image" src="images/loading.gif" alt="Loading..." />
                          </div>
                          
                           
							<div class="table-responsive col-md-12"  id="taskTable" style="dislay:none; max-height: 500px; overflow: scroll;">
								<table width="100%" class="table table-striped table-bordered table-hover Task-List-table">
									<thead>
										<tr>
											<!-- <th></th> -->
											<th>Id</th>
											<th>Full Name</th> 
										    <th>Company Name</th>
										    <th>Job Title</th>
											 <th>Address</th>
											<th>Date</th>
											
											<th>Download</th>   
										</tr>
									</thead>
									<tbody class="Task-List-table-body">
									
									</tbody>
								</table>
							</div>  
					   </div>
						    
						   </div> 
  				</div>
  			</div>
  		 
  	 	</div>
  	 	
  	 </div>
  	 
     
  </div>
  
  
   
  
</div>

</body>

<script>
	$(document).ready(function(){
		 $("#myModal").modal('hide'); 
		//to craete div as a pdf.
		 var doc = new jsPDF();
		 
		 $(function () {
             $('#example').datetimepicker();
         });
		 
		 
		 
		 var specialElementHandlers = {
				    '#editor': function (element, renderer) {
				        return true;
				    }
				};

				$('#generatePdf').click(function () { 
					
				    doc.fromHTML($('#appointmentLetter').html(), 15, 15, {
				        'width': 170,
				            'elementHandlers': specialElementHandlers
				    });
				    doc.save('letter.pdf');
				    doc = new jsPDF();
				});

		 $(document).on('change','#userForm-Title',function(){
			 var employeeName=$("#userForm-Title").val()+" "+$("#userForm-FName").val()
			 $("#employeeName").text(employeeName)
		 });
		 $(document).on('keyup','#userForm-FName',function(){
			 var employeeName=$("#userForm-Title").val()+" "+$("#userForm-FName").val()
			 $("#employeeName").text(employeeName)
		 });
		 $(document).on('keyup','#userForm-CName',function(){
			 $(".companyFill").text($("#userForm-CName").val());
		 });
		 $(document).on('keyup','#userForm-JName',function(){
			 $(".jobPosition").text($("#userForm-JName").val());
		 });
		 $(document).on('blur','#dateTime',function(){
			 $("#dateFill").text($("#dateTime").val());
			 
		 });
		//Default Table Load Start
			
			var url= "http://localhost:8080/forms";
				console.log(url)
	        $.ajax({
	            url: url,
	            type: "GET",
	            contentType: "application/json",
	            dataType: "json",
	             
	            beforeSend: function() {
	           	$("#loading-gif-div").show();                              
	            }
	        })
	        .done(function(data, textStatus, jqXHR){
	       	 
	       	 console.log(data);
	       	      
	       	if(data.length>0){
	                               	 
	            $('#taskTable').show();
	            $(".Task-List-table-body").empty();
	            $.each(data,function(index, item){                                   
	                var row = $('<tr>');                                    
	                 row.append( $('<td>').append(item.id));
	                row.append( $('<td>').append(item.fullname)); 
	                row.append($('<td>').append(item.companyname));
		             row.append( $('<td>').append(item.address)); 
		            row.append( $('<td>').append(item.jobtitle));
	                row.append( $('<td>').append(item.dateTime));
	             
	                var Buttons="<button id='download_"+item.id+ "' class='downloadBtn btn btn-primary' >Download</button>";
	                
	                row.append( $('<td >').append(Buttons)); 
	              
	                 
	                $(".Task-List-table-body").append(row);
	               
	            });
	        }
	       	else{
	            $('#taskTable').hide();
	       	}
	       	
	       	 
	        })
	        .fail(function(jqXHR, textStatus, errorThrown){                             
	          	console.log("Failed .....");                           
	        })
	        .always(function(data, textStatus, jqXHR){
	       	 	$("#loading-gif-div").hide();
	        });
		//Default Table Load End
         
		$(document).on('click','#addAppointment',function(){
			var title=$("#userForm-Title").val();
			var fName=$("#userForm-FName").val();
			var cName=$("#userForm-CName").val();
			var jName=$("#userForm-JName").val();
			var dateTime=$("#dateTime").val();
			 var address=$("#userForm-Address").val(); 
			
			if(title != "" && fName != "" && cName != "" &&  jName != "" &&address != "" &&  dateTime != ""){  
				var formData={
						title : title,
						fullname : fName,
						companyname : cName,
						jobtitle:  jName ,
						address:address,
						dateTime : dateTime,
						 
						
				};
				
				console.log(formData);
				
				var url= "http://localhost:8080/forms";
		 			console.log(url)
		           $.ajax({
		               url: url,
		               type: "POST",
		               contentType: "application/json",
		               dataType: "json",
		               data: JSON.stringify(formData),
		               beforeSend: function() {
		              	$("#loading-gif-div").show();                              
		               }
		           })
		           .done(function(data, textStatus, jqXHR){
		          	 console.log(data); 
		           })
		           .fail(function(jqXHR, textStatus, errorThrown){                             
		               var errorResponseObj = jqXHR.responseJSON;                           
		           })  //with/without fail of loading data
		           .always(function(data, textStatus, jqXHR){
		          	 $("#loading-gif-div").hide();
		          	 
		        	var url= "http://localhost:8080/forms";
				console.log(url)
		       $.ajax({
		           url: url,
		           type: "GET",
		           contentType: "application/json",
		           dataType: "json",
		            
		           beforeSend: function() {
		          	$("#loading-gif-div").show();                              
		           }
		       })
		       .done(function(data, textStatus, jqXHR){
		      	 
		      	 console.log(data);
		      	      
		      	 if(data.length>0){
		                             	 
		           $('#taskTable').show();
		           $(".Task-List-table-body").empty();
		           $.each(data,function(index, item){                                   
		               var row = $('<tr>');                                    
		                row.append( $('<td>').append(item.id));
		               row.append( $('<td>').append(item.fullname)); 
		               row.append($('<td>').append(item.companyname));
		                row.append( $('<td>').append(item.address)); 
		             row.append($('<td>').append(item.jobtitle))
		               row.append( $('<td>').append(item.dateTime));
		              
		               var Buttons="<button id='download_"+item.id+ "'  class='downloadBtn btn btn-primary' >Download</button>";
		
		
		          console.log("Buttons ::::: "+Buttons);
		               row.append( $('<td >').append(Buttons)); 
		             
		                
		               $(".Task-List-table-body").append(row);
		              
		           });
		       }
		      	else{
		           $('#taskTable').hide();
		      	} 
		      	
		      	 
		       })
		       .fail(function(jqXHR, textStatus, errorThrown){                             
		         	console.log("Failed .....");                           
		       })
		       .always(function(data, textStatus, jqXHR){
		      	 	$("#loading-gif-div").hide();
		       });  
		           });
				
		 			

			}else{
				console.log("Please Fill All The Details..........")
				$("#myModal").modal('show');
			}
  			
  		
		}); 
		 
		 
		$(document).on('click','.downloadBtn',function(){
			var idVal=$(this).attr('id');
			var idValSplit=idVal.split('_');
			
			
			var url= "http://localhost:8080/pdfreport/"+idValSplit[1];
			
  			console.log(url)
  			 window.open(url)
  			 
             
		});
		
		
		 
		    
	});
</script>
</html>